.button1{
	background-color: rgb(225, 58, 45);
	color: white;
	border-radius: 30px;
}
.button2{
	background-color: rgb(245, 70, 43);
	color: white;
	border-radius: 30px;
}
.button3{
	background-color: rgb(236, 92, 47);
	color: white;
	border-radius: 30px;
}
.button4{
	background-color: rgb(241, 161, 66);
	color: white;
	border-radius: 30px;
}
.button5{
	background-color: rgb(245, 220, 114);
	color: white;
	border-radius: 30px;
}
.button6{
	background-color: rgb(73, 167, 113);
	color: white;
	border-radius: 30px;
}
.button7{
	background-color: rgb(94, 201, 151);
	color: white;
	border-radius: 30px;
}
.button8{
	background-color: rgb(115, 196, 223);
	color: white;
	border-radius: 30px;
}
.button9{
	background-color: rgb(67, 163, 208);
	color: white;
	border-radius: 30px;
}
.button10{
	background-color: rgb(51, 131, 206);
	color: white;
	border-radius: 30px;
}
 .button11{
	background-color: rgb(33, 53, 199);
	color: white;
	border-radius: 30px;
}
.button12{
	background-color: rgb(54, 111, 246);
	color: white;
	border-radius: 30px;
}
.button13{
	background-color: rgb(72, 68, 111);
	color: white;
	border-radius: 30px;
}
.button14{
	background-color: rgb(103, 47, 110);
	color: white;
	border-radius: 30px;
}
.button15{
	background-color: rgb(207, 67, 169);
	color: white;
	border-radius: 30px;
}
.button16{
	background-color: rgb(247, 247, 247);
	border-radius: 30px;
}